<ion-header>
  <ion-toolbar>
    <ion-title>Jogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group *ngIf="esconder != true" [(ngModel)]="player1">
      <ion-list-header>
        <h2>Selecione qual a opção desejada:</h2>
      </ion-list-header>

      <ion-item>
        <ion-label>X</ion-label>
        <ion-radio value="X"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>0</ion-label>
        <ion-radio value="0"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <div *ngIf="esconder != true">
    <ion-button (click)="definirCaracter(player1); esconder = true" color="success">Jogar</ion-button>
  </div>

  <div *ngIf="esconder == true">
    <h2>Vez do {{playerAtual}}</h2>
    <h2>Jogada Nº {{numeroJogada}}</h2>
  </div>

  <ion-grid *ngIf="esconder == true" fixed>
    <ion-row>
      <ion-col size="1" (click)="defineCaracterRodada();setaValor(1);definirPlayerJogada();definirNumeroJogada();testaResultado()">
        <div>
          {{caracterGrid1}}
        </div>
      </ion-col>
      <ion-col size="1" (click)="defineCaracterRodada();setaValor(2);definirPlayerJogada();definirNumeroJogada();testaResultado()">
        <div>
          {{caracterGrid2}}
        </div>
      </ion-col>
      <ion-col size="1" (click)="defineCaracterRodada();setaValor(3);definirPlayerJogada();definirNumeroJogada();testaResultado()">
        <div>
          {{caracterGrid3}}
        </div>
      </ion-col>
      <ion-col size="1" (click)="defineCaracterRodada();setaValor(4);definirPlayerJogada();definirNumeroJogada();testaResultado()">
        <div>
          {{caracterGrid4}}
        </div>
      </ion-col>
      <ion-col size="1" (click)="defineCaracterRodada();setaValor(5);definirPlayerJogada();definirNumeroJogada();testaResultado()">
        <div>
          {{caracterGrid5}}
        </div>
      </ion-col>
      <ion-col size="1" (click)="defineCaracterRodada();setaValor(6);definirPlayerJogada();definirNumeroJogada();testaResultado()">
        <div>
          {{caracterGrid6}}
        </div>
      </ion-col>
      <ion-col size="1" (click)="defineCaracterRodada();setaValor(7);definirPlayerJogada();definirNumeroJogada();testaResultado()">
        <div>
          {{caracterGrid7}}
        </div>
      </ion-col>
      <ion-col size="1" (click)="defineCaracterRodada();setaValor(8);definirPlayerJogada();definirNumeroJogada();testaResultado()">
        <div>
          {{caracterGrid8}}
        </div>
      </ion-col>
      <ion-col size="1" (click)="defineCaracterRodada();setaValor(9);definirPlayerJogada();definirNumeroJogada();testaResultado()">
        <div>
          {{caracterGrid9}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>