<ion-header>
  <ion-toolbar>
    <ion-title>Jogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group *ngIf="esconder != true" [(ngModel)]="player1">
      <ion-list-header>
        <h2>Selecione qual a opção desejada:</h2>
      </ion-list-header>

      <ion-item>
        <ion-label>X</ion-label>
        <ion-radio value="X" checked="X"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>0</ion-label>
        <ion-radio value="0"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <div *ngIf="esconder != true">
    <ion-button (click)="definirCaracter(player1); esconder = true" color="success">Jogar</ion-button>
  </div>

  <div *ngIf="esconder == true">
    <h2>Dados da Jogada:</h2>
    <h4>Vez do {{playerAtual}}</h4>
    <h4>Jogada Nº {{numeroJogada}}</h4>
  </div>

  <ion-grid *ngIf="esconder == true" fixed>
    <ion-row>
      <ion-col (click)="verificaSetado(1)">
        <div class="ion-text-center">
          <h3>{{caracterGrid1}}</h3>
        </div>
      </ion-col>
      <ion-col (click)="verificaSetado(2)">
        <div class="ion-text-center">
          <h3>{{caracterGrid2}}</h3>
        </div>
      </ion-col>
      <ion-col (click)="verificaSetado(3)">
        <div class="ion-text-center">
          <h3>{{caracterGrid3}}</h3>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col (click)="verificaSetado(4)">
        <div class="ion-text-center">
          <h3>{{caracterGrid4}}</h3>
        </div>
      </ion-col>
      <ion-col (click)="verificaSetado(5)">
        <div class="ion-text-center">
          <h3>{{caracterGrid5}}</h3>
        </div>
      </ion-col>
      <ion-col (click)="verificaSetado(6)">
        <div class="ion-text-center">
          <h3>{{caracterGrid6}}</h3>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col (click)="verificaSetado(7)">
        <div class="ion-text-center">
          <h3>{{caracterGrid7}}</h3>
        </div>
      </ion-col>
      <ion-col (click)="verificaSetado(8)">
        <div class="ion-text-center">
          <h3>{{caracterGrid8}}</h3>
        </div>
      </ion-col>
      <ion-col (click)="verificaSetado(9)">
        <div class="ion-text-center">
          <h3>{{caracterGrid9}}</h3>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>