<ion-header>
  <ion-toolbar>
    <ion-title>Jogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group *ngIf="!esconder" [(ngModel)]="player1">
      <ion-list-header>
        <h2>Selecione qual a opção desejada:</h2>
      </ion-list-header>
      <ion-item>
        <ion-label>X</ion-label>
        <ion-radio value="X" checked></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>0</ion-label>
        <ion-radio value="0"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <div *ngIf="!esconder">
    <ion-button (click)="definirCaracter(player1);" color="success">Jogar</ion-button>
  </div>

  <div *ngIf="esconder">
    <h2><strong>Dados da Jogada:</strong></h2>
    <ion-row>
      <ion-col>
        <h4>Vez do {{playerAtual}}</h4>
        <h4>Jogada Nº {{numeroJogada}}</h4>
      </ion-col>
      <ion-col>
        <h4>Player 1: {{player1}}</h4>
        <h4>Player 2: {{player2}}</h4>
      </ion-col>
    </ion-row>
  </div>

  <ion-grid class="tabela" *ngIf="esconder" fixed>
    <ion-row>
      <ion-col size="1" (click)="verificaSetado(1)">
        <div class="ion-text-center">
          <ion-img *ngIf="caracterGrid1 == 'X'" src="assets/img/X.png"></ion-img>
          <ion-img *ngIf="caracterGrid1 == '0'" src="assets/img/0.png"></ion-img>
        </div>
      </ion-col>
      <ion-col size="1" (click)="verificaSetado(2)">
        <div class="ion-text-center">
          <ion-img *ngIf="caracterGrid2 == 'X'" src="assets/img/X.png"></ion-img>
          <ion-img *ngIf="caracterGrid2 == '0'" src="assets/img/0.png"></ion-img>
        </div>
      </ion-col>
      <ion-col size="1" (click)="verificaSetado(3)">
        <div class="ion-text-center">
          <ion-img *ngIf="caracterGrid3 == 'X'" src="assets/img/X.png"></ion-img>
          <ion-img *ngIf="caracterGrid3 == '0'" src="assets/img/0.png"></ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1" (click)="verificaSetado(4)">
        <div class="ion-text-center">
          <ion-img *ngIf="caracterGrid4 == 'X'" src="assets/img/X.png"></ion-img>
          <ion-img *ngIf="caracterGrid4 == '0'" src="assets/img/0.png"></ion-img>
        </div>
      </ion-col>
      <ion-col size="1" (click)="verificaSetado(5)">
        <div class="ion-text-center">
          <ion-img *ngIf="caracterGrid5 == 'X'" src="assets/img/X.png"></ion-img>
          <ion-img *ngIf="caracterGrid5 == '0'" src="assets/img/0.png"></ion-img>
        </div>
      </ion-col>
      <ion-col size="1" (click)="verificaSetado(6)">
        <div class="ion-text-center">
          <ion-img *ngIf="caracterGrid6 == 'X'" src="assets/img/X.png"></ion-img>
          <ion-img *ngIf="caracterGrid6 == '0'" src="assets/img/0.png"></ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1" (click)="verificaSetado(7)">
        <div class="ion-text-center">
          <ion-img *ngIf="caracterGrid7 == 'X'" src="assets/img/X.png"></ion-img>
          <ion-img *ngIf="caracterGrid7 == '0'" src="assets/img/0.png"></ion-img>
        </div>
      </ion-col>
      <ion-col size="1" (click)="verificaSetado(8)">
        <div class="ion-text-center">
          <ion-img *ngIf="caracterGrid8 == 'X'" src="assets/img/X.png"></ion-img>
          <ion-img *ngIf="caracterGrid8 == '0'" src="assets/img/0.png"></ion-img>
        </div>
      </ion-col>
      <ion-col size="1" (click)="verificaSetado(9)">
        <div class="ion-text-center">
          <ion-img *ngIf="caracterGrid9 == 'X'" src="assets/img/X.png"></ion-img>
          <ion-img *ngIf="caracterGrid9 == '0'" src="assets/img/0.png"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="esconder">
    <ion-button (click)="encerrarPartida();" color="success">Jogar Novamente</ion-button>
  </div>
</ion-content>